.content{
    height: 620px;
    width: 850px;
    margin: 0 auto;
    background-color: rgb(28,36,57);
}

.content .cont_top{
    height: 45px;
    width: 850px;
    background-color: rgb(41,56,84);
}
.content .cont_top .top_tit{
    width: 300px;
    height: 45px;
    float: left;
}
.content .cont_top .top_tit span{
    line-height: 45px;
    font-size: 16px;
    color: #21e553;
    padding-left: 20px;
}

.top_search{
    width: 300px;
    height: 45px;
    float: right;
    line-height: 45px;
    position: relative;
}
.top_search input{
    width: 250px;
    height: 30px;
    border-radius: 15px;
    border: 0;
    text-indent: 15px;
    background-color: rgb(27,34,58);
    color: rgb(118,122,137);
    font-size: 12px;
}

.top_search .search_sub{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-right: 30px;
    top: 5px;
    right: 30px;
    position: absolute;
    background: url(../img/public/01_01.png)-238px -30px no-repeat;
}

.clear{
    clear: both;
}
.cont{
    height: 575px;
    width: 850px;
    margin: 0 auto;
}

/*分类start*/
.category{
    height: 80px;
    width: 730px;
    margin: 10px auto;
}

.category .fl{
    width: 50px;
    height: 70px;
    text-align: right;
    float: left;
    padding-top: 10px;
}

.category .fl span{
    font-size: 15px;
    color: rgb(143,151,164);
}

.category .cg_{
    width: 680px;
    height: 80px;
    float: left;
}
.category .cg_ ul li{
    list-style: none;
    float: left;
}
.cg_ .aaaa{
    border: 1px solid rgb(28,36,57);
    text-align: center;
    height: 25px;
    width: 30px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    border-radius: 3px;
}
.cg_ .aaaa span{
    line-height: 25px;
    font-size: 14px;
    color: rgb(143,151,164);
    cursor: pointer;
}
.cg_ .aaaa:hover{
    border: 1px solid #21e553;
    background-color: rgb(29,61,60);
    border-radius: 3px;
    cursor: pointer;
}
/*分类end*/

.cate_game{
    height: 475px;
    width: 100%;
}

.cate_game .cate_left{
    height: 310px;
    width: 48px;
    float: left;
    line-height: inherit;
    text-align: center;
    padding-top: 165px;
    padding-right: 12px;
}

.cate_game .cate_left .cate_left_img{
    height: 80px;
    width: 35px;
    float: right;
    background: url("../img/shouye/jt.png") 0 -85px no-repeat;
}

.cate_game .cate_left .cate_left_img:hover{
    height: 80px;
    width: 35px;
    float: right;
    background: url("../img/shouye/jt.png") 0 0 no-repeat;
}

.cate_game .cate_right{
    height: 310px;
    width: 48px;
    float: right;
    line-height: inherit;
    text-align: center;
    padding-top: 165px;
    padding-right: 12px;
}

.cate_game .cate_right .cate_left_img{
    height: 80px;
    width: 35px;
    background: url("../img/shouye/jt.png") -50px -85px no-repeat;
    float: right;
}

.cate_game .cate_right .cate_left_img:hover{
    height: 80px;
    width: 35px;
    background: url("../img/shouye/jt.png") -50px 0 no-repeat;
    float: right;
}

.cate_game_list{
    width: 720px;
    height: inherit;
    float: left;
    padding-left: 10px;
}

.cate_game_list ul li{
    list-style: none;
    float: left;
}

.cate_game_list .game_list{
    width: 220px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.game_img{
    height: 110px;
    width: inherit;
}
.game_info{
    width: 220px;
    height: 90px;
    background-color: rgb(10,15,39);
}

.game_name{
    width: 200px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 30px;
}
.game_name span{
    font-size: 16px;
    color: rgb(98,92,89);
    font-weight: bold;
}

.game_hot1{
    height: 30px;
    width: 200px;
    padding: 0 10px;
    line-height: 30px;
}

.game_hot1 .aa{
    font-size: 12px;
    color: rgb(98,92,89);
}

.game_hot1 .bb{
    font-size: 12px;
    color: rgb(98,92,89);
}

.game_hot2{
    height: 30px;
    padding: 0 10px;
    width: 200px;
}
.game_hot2 .aa{
    font-size: 12px;
    color: rgb(98,92,89);
}

.game_hot2 .bb{
    font-size: 12px;
    color: rgb(98,92,89);
}

.game_name span:hover{
    color: #21e553;
    cursor: pointer;
}

.bb:hover{
    color: rgb(255,286,0);
    cursor: pointer;
}









